<div class="container">
  <section class="section">
    <h1 class="title">Contact</h1>

    <div class="column is-full">
      <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
        <div class="control">
          <label class="label">Username</label>
          <input type="text" name="user" required ngModel #user="ngModel">
        </div>

        <div class="control">
          <label class="label">Email</label>
          <input type="email" name="email" required ngModel #email="ngModel">
        </div>


        <input type="submit">

      </form>
    </div>
  </section>

  <p>{{ formulario.value | json }}</p>

  <section></section>
</div>