<div class="container">
  <section class="section">
    <h1 class="title">Contact - Reactivo</h1>

    <div class="column is-full">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario)" novalidate>
        <div class="control">
          <label class="label">Username</label>
          <input formControlName="name">
        </div>

        <div class="control">
          <label class="label">Email</label>
          <input formControlName="email">
        </div>


        <input type="submit" [disabled]="!formulario.valid">

      </form>
    </div>
  </section>

  <p>{{ formulario.value | json }}</p><br>
  <p>{{ formulario.valid }}</p>

  <section></section>
</div>