html, body {
  padding: 50px;
  font: 14px "Luvida Grande", Helvetica, Arial, sans-serif;
  background-color: #E7C84C;
}

nav {
  margin: 10px 0;
}

nav a.active {
  color: red;
  border-bottom: solid;
}

a { 
  color: #00B7FF;
}

.contenidos {
  max-width: 950px;
  margin: auto;
}

.contenidos p {
  margin: 10px 0;
}

.item-price {
  position: absolute;
  right: 10px;
}

.panel-block { 
  background: #FFF;
}

.card-content p { 
  margin: 20px;
}